<div class="form_field">
  <%= form_with model:@user,local:true do |f| %>
    <%= render 'shared/errors_messages',object:f.object %>

    <%= f.label :name,class:"form" %>
    <%= f.text_field :name,class:"form" %>

    <%= f.label :email,class:"form" %>
    <%= f.email_field :email,class:"form" %>

    <%= f.label :password,class:"form" %>
    <%= f.password_field :password,class:"form" %>

    <%= f.label :password_confirmation,class:"form" %>
    <%= f.password_field :password_confirmation,class:"form" %>

    <%= f.submit class:"form button"%>
  <% end %>
</div>
