<h1>ここがルートページになる<span>ここに1日のスケジュールを表示する</span>
<span>new editはこのページで行う</span></h1>
<main>
  <div class="schedule">
    <h2>TODAY is <%= Time.current %></h2>
    <% @schedules.each do |schedule| %>
    <!-- <div class="plan">
      <span>starttime:</span><%= schedule.starttime %>
      <p><span>title</span><%= schedule.title %></p>
      <p><span>things</span><%= schedule.things %></p>
      <p class="endtime"><span>endtime</span><%= schedule.endtime %></p>
    </div> -->
    <ul class="plan">
      <li class="starttime">starttime:<%= schedule.starttime %></li>
      <li><span>&nbsp</span>title:<%= schedule.title %></li>
      <li><span>&nbsp</span>things:<%= schedule.things %></li>
      <li class="endtime">endtime:<%= schedule.endtime %></li>
      <%= form_with url:schedule,local:true,method: :get do |edit| %>
      <%= hidden_field_tag :scheduleId,schedule.id %>
      <%= edit.submit "変更" %>
      <%= link_to "削除", schedule,method: :delete  %>
      <% end %>
    </ul>
    <% end %>
  </div>

  <div class="make">
    <%= form_with model:@schedule,local:true do |f| %>
      <%= render 'shared/errors_messages',object:f.object %>
      <%# エラーメッセージが出ないのはこの場合普通？ %>

      <li>
        <%= f.label :starttime %>
        <%= f.datetime_select :starttime,{minute_step:30} %>
      </li>
      ↓
      <li>
        <%= f.label :endtime %>
        <%= f.datetime_select :endtime,{minute_step:30} %>
        <%# discard_year:true,discard_month:true,これを入れると1日付けが0/1になっしまう %>
      </li>
      <li><%= f.label :title %></li>
      <li><%= f.text_field :title,class:"title" %></li>
      <li><%= f.label :things %></li>
      <li><%= f.text_area :things %></li>
      <li><%= f.submit class:"submit" %></li>
    <% end %>
    f.datetime_field :starttime,{discard_year:true}

    <p>params[:id] = <%= @a.title%></p>
    <p>params[:id] = <%= @params %></p>
  </div>
  <div class="clear"></div>
</main>
<!-- <div class="schedule">
  <h2>TODAY is <%= Time.current %></h2>
  <% @schedules.each do |schedule| %>
    <table border="1" rules="cols" width="100%">
      <tr>
        <th>schedule ID:</th>
        <td><%= schedule.id %></td>
      </tr>
      <tr>
        <th>starttime:</th>
        <td><%= schedule.starttime %></td>
      </tr>
      <tr>
        <th>title</th>
        <td><%= schedule.title %></td>
      </tr><tr>
        <th>things</th>
        <td><%= schedule.things %></td>
      </tr>
      <tr>
        <th>endtime:</th>
        <td><%= schedule.endtime %></td>
      </tr>
      <tr>
        <td>
          <%= form_with url:schedule,local:true,method: :get do |edit| %>
          <%= hidden_field_tag :scheduleId,schedule.id %>
          <%= edit.submit "変更" %>
        <% end %>
      </td>
        <td><%= link_to "削除", schedule,method: :delete %></td>
      </tr>
    </table>
    <p><span>schedule ID:</span><%= schedule.id %></p>
  <% end %>
</div> -->
