<!DOCTYPE html>
<html>
  <head>
    <title>ScheduleMaker</title>
    <%= render 'layouts/rails_default' %>
  </head>

  <body>
    <header>
      <h1>---ScheduleMaker---</h1>
      <div class="menu">
        <% if logged_in %>
          ログインユーザー名:<%= current_user.name %>
          <%= link_to "ログアウト",logout_path,method: :delete %>
        <% else %>
          <%= link_to "新規登録",new_user_path %>
          <%= link_to "ログイン",login_path %>
        <% end %>
      </div>
    </header>
    <% if flash.any? %>
      <% flash.each do |message_type,message| %>
        <%= message %>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
